[DEFAULT]

{% if elao_fail2ban_configs.ignoreip %}
ignoreip = {{ elao_fail2ban_configs.ignoreip }}
{% endif %}
bantime = {{ elao_fail2ban_configs.bantime }}
maxretry = {{ elao_fail2ban_configs.maxretry }}
